[submodule "third_party/OpenDriveVLA"]
	path = third_party/OpenDriveVLA
	url = git@github.com:t-zhan/OpenDriveVLA.git
[submodule "third_party/AutoVLA"]
	path = third_party/AutoVLA
	url = git@github.com:t-zhan/AutoVLA.git
